.wrapper {
  width: 600px;
  height: calc(100vh - 320px);
  overflow-x: auto;
  padding: 0;
}

.card {
  background: rgba(9, 30, 63, 0.8);
  box-shadow: 0 2px 3px 0 rgba(9, 30, 63, 0.1);
  padding: 20px 30px;
  margin-top: 20px;
  color: #fff;
  font-family: inherit;
  font-size: 12px;
}

.tableWrapper {
  max-height: calc(100vh - 320px);
  overflow: auto;
  position: relative;
}

.tableWrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

.table {
  border-collapse: collapse;
  font-size: 12px;
  min-width: max-content;
  width: 100%;
}

th,
td {
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}

@media (min-width: 1440px) {
  .wrapper {
    width: 48vw;
  }
}
